* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.cover {
    background-color: #000000;
    height: 100vh;
    width: 100vw;
    opacity: 1;
    transition: opacity 1s;
}

.cover.fade {
    opacity: 0;
}

.cover h1 {
    font-size: 25px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
    position: absolute;
    white-space: nowrap;
    color: #ffffff;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.fadeOut {
    animation: fadeOut 3s;
}

.visible {
    display: none;
    animation: fadeIn 7s;
}

.text {
    position: absolute;
    top: 46%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
    z-index: 2;
}

.text h1 {
    color: #ffffff;
    font-size: 40px;
    text-shadow: -5px -5px 15px rgba(255,255,255,0.2), 5px 5px 15px rgba(255,255,255,0.2), 5px -5px 15px rgba(255,255,255,0.2), -5px 5px 15px rgba(255,255,255,0.2);
    transition: 200ms;
}

.text h1:hover {
    color: #ffffff;
    font-size: 43px;
    text-shadow: -10px -10px 15px rgba(255,255,255,0.3), 10px 10px 15px rgba(255,255,255,0.3), 10px -10px 15px rgba(255,255,255,0.3), -10px 10px 15px rgba(255,255,255,0.3);
}

.socials {
    position: absolute;
    top: 54%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
    z-index: 2;
}

.socials a {
    color: #ffffff;
    text-decoration: none;
    margin: 10px;
    font-size: 15px;
    text-shadow: -3px -3px 10px rgba(255,255,255,0.2), 3px 3px 10px rgba(255,255,255,0.2), 3px -3px 10px rgba(255,255,255,0.2), -3px 3px 10px rgba(255,255,255,0.2);
    transition: 200ms;
}

.socials a:hover {
    font-size: 17px;
    text-shadow: -4px -4px 10px rgba(255,255,255,0.3), 4px 4px 10px rgba(255,255,255,0.3), 4px -4px 10px rgba(255,255,255,0.3), -4px 4px 10px rgba(255,255,255,0.3);
    transition: 200ms;
}

.unselectable {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.desktop {
    display: none;
}

.mobile {
    display: inline-block;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}


@media only screen and (min-width: 800px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: inline-block;
    }
}